

<div class="meal">
  <h2>{{name | uppercase}}</h2>
  
  <div *ngIf="foods==''">
    No hay entradas
  </div>
  <div class="food" *ngFor="let food of foods; let i = index">
    <h5>{{food.refFood.name | uppercase}}<span class="quantity">{{food.quantity}}g.</span></h5>
    <p *ngIf="food.refFood.brand!=''">{{food.refFood.brand}}</p>
    <button style="float: right" mat-icon-button color="primary" (click)="deleteFood(food.refFood._id, index,i)">
        <mat-icon>delete</mat-icon>
    </button>
    <div class="macros">
        <span><strong>P</strong>: {{food.refFood.protein}}</span>
        <span><strong>C</strong>: {{food.refFood.carbohydrates}}</span>
        <span><strong>G</strong>: {{food.refFood.fat}}</span>
        <span><strong>Cal</strong>: {{food.refFood.kcal}}</span>
    </div>
       
  </div>

  <div class="addFood" [routerLink]="['/foods', diary, index]">
    + Añadir alimento
  </div>

  <div class="totals">
    <span><strong>P</strong>: {{totals.protein}}g</span>
    <span><strong>C</strong>: {{totals.carbohydrates}}g</span>
    <span><strong>G</strong>: {{totals.fat}}g</span>
    <span><strong>Cal</strong>: {{totals.kcal}}kcal</span>
  </div>

</div>
