

<div class="meal">
  <h2>{{name | uppercase}}</h2>
  
  <div *ngIf="foods==''">
    No hay entradas
  </div>
  
  <food 
  *ngFor="let food of foods;  let i = index"
  [name] = "food.refFood.name" 
  [protein] = "food.refFood.protein"
  [carbohydrates] = "food.refFood.carbohydrates"
  [fat] = "food.refFood.fat"
  [kcal] = "food.refFood.kcal"
  [quantity] = "food.quantity"
  [brand] = "food.refFood.brand"
  [food] = "food.refFood._id"
  [date] = "date"
  [meal] = "index"
  [token] = "token"
  (deletedFood) = "onDeletedFood(i)"
>
</food>
  
  <div class="addFood" [routerLink]="['/foods', diary, index]">
    + Añadir alimento
  </div>

  <div class="totals">
    <span><strong>P</strong>: {{totals.protein}}g</span>
    <span><strong>C</strong>: {{totals.carbohydrates}}g</span>
    <span><strong>G</strong>: {{totals.fat}}g</span>
    <span><strong>Cal</strong>: {{totals.kcal}}kcal</span>
  </div>

</div>
