<p style="text-align: center">
  <button mat-button (click)="prevDay()"><</button>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)] = "date" (dateChange)="onChangeDate()" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>
  <button mat-button (click)="nextDay()">></button>
</p>

<div *ngIf="diary">
  <div *ngFor="let meal of diary.meals;">
    <meal [name]="meal.name" [foods]="meal.foods" [totals]="meal.totals"></meal>
  </div>
</div>
<div *ngIf="!diary">
    No hay entradas en esta fecha
</div>
