<p style="text-align: center">
  <button mat-button (click)="prevDay()"><</button>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)] = "date" (dateChange)="onChangeDate()" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>
  <button mat-button (click)="nextDay()">></button>
</p>

<div *ngIf="diary">  
  <div *ngFor="let meal of diary.meals; let i = index">
    <meal [name]="meal.name" [foods]="meal.foods" [totals]="meal.totals" [diary]="dateString" [index]="i"></meal>
  </div>
  <div mat-line class="container">
      <div class="row justify-content-center">
          <div class="col-auto macro">Proteína<br />{{diary.totalProtein}}/{{diary.proteinTarget}}<br />{{diary.proteinTargetInPercentage}}%</div>
          <div class="col-auto macro">Carb.<br />{{diary.totalCarbohydrate}}/{{diary.carbohydratesTargetInGrams}}<br />{{diary.carbohydratesTarget}}%</div>
          <div class="col-auto macro">Grasas<br />{{diary.totalFat}}/{{diary.fatTargetInGrams}}<br />{{diary.fatTargetInPercentage}}%</div>
          <div class="col-auto macro">Calorías<br />{{diary.totalKcal}}/{{diary.kcalTarget}}</div>
      </div>
  </div>

  <div class="container">
      <div class="row justify-content-center">
        <div class="col col-lg-6 ">
                  
          <form #changeMacros="ngForm" class="changeMacrosForm">
            
            <mat-form-field>
              <input name="proteinTarget" matInput  placeholder="Proteina (gramos por kilo de peso)" [(ngModel)]="diary.proteinTarget" (input)="recalculate()" required>
            </mat-form-field>
  
            <mat-form-field>
              <input name="fat" matInput  placeholder="Porcentaje de hidratos" [(ngModel)]="diary.carbohydratesTarget" (input)="recalculate()" required>
            </mat-form-field>
  
           
  
            <mat-form-field>
              <input name="bmr" matInput  placeholder="Calorías objetivo" [(ngModel)]="diary.kcalTarget" required>
            </mat-form-field>
  
            
          </form>
        </div>
    </div>
  </div>
</div>

<div *ngIf="!diary">
    No hay entradas en esta fecha
</div>
