.container{
    max-width: 100%;
    
 }
 
 .macro, .macro-alert{
     font-size: 18px;
     color: rgb(22, 22, 22);
     background-color: #5ddfc9;
     text-align: center;
     padding-top: 20px;
     padding-bottom: 20px;
     margin: 10px;
     width: 110px;
     border-radius: 10px;
 }

.macro-alert{
    background-color: #df775d;
}

 .changeMacrosForm{    
    padding: 10px;
}

.changeMacrosForm > *{
    width: 100%;
}

.changeMacrosForm h1{
    margin-bottom: 30px;
}

.empty{
    text-align: center;
}
 