<div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-6 ">
                
        <form #profileForm="ngForm" class="profileForm">
          <h1>Mi perfil</h1>
          <mat-form-field>
            <input name="name" matInput placeholder="Nombre" [(ngModel)]="identity.name" required>
          </mat-form-field>

          <mat-form-field>
            <input name="quantity" matInput type="email" placeholder="Email" [(ngModel)]="identity.email" required>
          </mat-form-field>

          

          <p>
            Imagen<br />
            <input type="file" name="image" placeholder="imagen" (change)="fileChangeEvent($event)">

          </p>
            
          <h3>Parámetros fisiológicos</h3>
          <mat-form-field>
            <mat-select [(value)]="selected" placeholder="Sexo">
              <mat-option value="m">Hombre</mat-option>
              <mat-option value="f">Mujer</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input name="age" matInput  placeholder="Edad" [(ngModel)]="identity.age" required>
          </mat-form-field>

          <mat-form-field>
            <input name="wieght" matInput  placeholder="Peso" [(ngModel)]="identity.weight" required>
          </mat-form-field>

          <mat-form-field>
            <input name="height" matInput  placeholder="Altura" [(ngModel)]="identity.height" required>
          </mat-form-field>

          <mat-form-field>
            <input name="fat" matInput  placeholder="Porcentaje de grasa" [(ngModel)]="identity.fat" required>
          </mat-form-field>

          <mat-form-field>
            <mat-select name="activity" [(ngModel)]="identity.activity_level" placeholder="Actividad base">
              <mat-option [value]="0">Inactivo, dormitando</mat-option>
              <mat-option [value]="1">Sedentario, trabajo de oficina</mat-option>
              <mat-option [value]="2">Ligero, trabajo con algo de movimiento</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select name="formula" [(ngModel)]="identity.formula" placeholder="Fórmula para estimación">
              <mat-option [value]="0">Mifflin St Jeor</mat-option>
              <mat-option [value]="1">Katch-McArdle</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button color="primary" (click) = "onSave(profileForm)" [disabled]="!profileForm.form.valid" >Guardar</button> 
        </form>
  </div>
  </div>