<mat-list>
  <div class="search">
    <mat-icon>search</mat-icon>
    <input matInput placeholder="Buscar" (input)="onSearch()" [(ngModel)]="search"/>
  </div>
  <div *ngFor="let recipe of recipes; let i = index" class="item">
  <mat-list-item  >
      <mat-icon mat-list-icon [routerLink]="['/recipes/', recipe._id]">label</mat-icon>
      <h4 mat-line [routerLink]="['/recipes', recipe._id]">{{recipe.name}}</h4>
      
      
      <button mat-icon-button color="primary" (click)="deleteRecipe(recipe._id,i)">
          <mat-icon>delete</mat-icon>
      </button>&nbsp;
      
  </mat-list-item>
</div>
</mat-list>
<button mat-fab color="primary" class="floating-button" [routerLink]="['/addrecipe']">
  <mat-icon>add</mat-icon>
</button>