.food{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.macros span{
    padding-right: 30px;
}

.ingredient_quantity{
    color: #5ddfc9;
    float: right;
}